* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	font-size: 8px;
	font-family: Arial;
}

section#demo {
	background: #fbfbfb;
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
.vertical-align {
	position: absolute;
	top: 50%;
pointer: cursor;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
    padding: 8px 15px;
}
