* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	font-size: 12px;
	font-family: Arial;
}

section#demo {
	background: #fbfbfb;
    position: absolute;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
.vertical-align {
	position: absolute;

	transform: translateY(-50%)
	left: 0;
	width: 100%;
}
.card {
    padding: 8px 15px;
}
